{
    "extends": "airbnb-typescript",
    "rules": {
        "react/jsx-indent": ["error", 4],
        "react/jsx-indent-props": ["error", 4],
        "react/jsx-filename-extension": 0,
        "react/prop-types": 0,
        "@typescript-eslint/no-dupe-class-members": 0,
        "@typescript-eslint/indent": ["error", 4]
    },
    "plugins": [
        "jest",
        "babel",
        "@typescript-eslint"
    ],
    "env": {
        "browser": true,
        "jest/globals": true
    },
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "parser": "@typescript-eslint/parser"
}